/* Loading spinner */
.loading-animation div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 6rem;
    height: 6rem;
    margin: 3rem;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loading-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.loading-animation div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-animation div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-animation div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Download button div animation */
@keyframes show-result {
    0% {
        transform: scale(1) rotate(-4deg);
    }
    80% {
        transform: scale(1.15) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

.show-result {
    animation-name: show-result;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
