<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kodi Recorder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        /* Loading spinner */
        .loading-animation div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 6rem;
            height: 6rem;
            margin: 3rem;
            border: 8px solid #fff;
            border-radius: 50%;
            animation: loading-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fff transparent transparent transparent;
        }

        .loading-animation div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .loading-animation div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .loading-animation div:nth-child(3) {
            animation-delay: -0.15s;
        }

        @keyframes loading-animation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        /* Download button animation */
        @keyframes show-result {
            0% {
                opacity: 0;
                transform: scale(1) rotate(-4deg);
            }
            80% {
                opacity: 0.8;
                transform: scale(1.15) rotate(0deg);
            }
            100% {
                opacity: 1;
                transform: scale(1) rotate(0deg);
            }
        }

        .show-result {
            animation-name: show-result;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        }
    </style>
</head>
<body class="flex justify-center min-h-screen bg-slate-950 p-5">
    <div class="flex flex-col">
        <h1 class="text-4xl text-white text-center mb-5">Kodi Recorder</h1>

        <!-- Now playing info -->
        <div id="stream-info" class="bg-zinc-800 text-zinc-200 rounded-xl text-center mx-auto py-4 px-8 shadow-md">
            <h1 id="playing-now" class="text-lg">Playing Now:</h1>
            <h1 id="episode-playing" class="text-3xl font-bold mt-2">Nothing</h1>
            <h3 id="episode-details" class="text-md mt-2">Season 1 Episode 1</h3>
        </div>

        <!-- Record button -->
        <div id="record-button" class="bg-slate-950 text-zinc-200 select-none rounded-full relative mx-auto mt-10 w-52 h-52 border-2 border-white transition-all duration-500">
            <h1 id="record-button-text" class="absolute inset-0 flex items-center justify-center text-3xl font-medium opacity-100 transition-opacity">Record</h1>
            <div id="spinner" class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity loading-animation"><div></div><div></div><div></div><div></div></div>
        </div>

        <!-- Download button -->
        <!-- Hidden on load with pointer-events-none opacity-0 -->
        <div id="result" class="flex flex-col bg-zinc-800 text-zinc-200 rounded-lg text-center mt-10 mb-5 mx-auto p-8 shadow-md pointer-events-none opacity-0 transition-all duration-500">
            <a id="download-button" class="bg-green-600 px-3 py-2 mx-auto mb-4 text-xl font-semibold rounded-lg">Download</a>
            <label for="filename-input" class="text-md mb-1"><b>Change filename (optional):</b></label>
            <div class="flex">
                <input id="rename-input" type="text" class="pl-10 py-2 bg-zinc-700 placeholder-zinc-500 rounded-l-md text-md text-center focus:outline-none focus:ring-2 focus:ring-blue-700" placeholder="test.mp4" name="filename-input" autocomplete="off">
                <button id="rename-button" class="bg-green-600 p-2 rounded-r-lg w-10 h-10 flex items-center justify-center" onclick="rename_file(this);"><i class="bi-pencil leading-none"></i></button>
            </div>
        </div>

        <!-- History button -->
        <div class="mt-auto flex">
            <button id="history-button" class="mx-auto bg-zinc-500 py-2 px-3 rounded-lg text-white font-bold" onclick="open_history_menu(true);">History</button>
        </div>

        <!-- History menu (hidden) -->
        <div id="history-menu" class="fixed flex flex-col bottom-0 left-0 right-0 h-[80%] bg-zinc-700 rounded-t-2xl mx-5 transform translate-y-full transition-transform duration-500 ease-in-out overflow-y-auto">
            <!-- Header -->
            <div class="flex py-3 mb-3">
                <div class="ms-3 me-auto w-8 h-8"></div>
                <h1 class="text-white text-2xl font-bold m-auto">History</h1>
                <!-- Close button -->
                <button id="history-close" class="ms-auto me-3 rounded-full w-8 h-8 bg-red-500 text-white text-xl flex" onclick="open_history_menu(false);">
                    <i class="fas fa-times m-auto"></i>
                </button>
            </div>

            <!-- Contents -->
            <div id="history-contents" class="flex flex-col mx-auto max-w-[80%] text-center">
            </div>
        </div>

        <!-- Rename modal (hidden) -->
        <div id="edit-modal" class="fixed flex flex-col top-0 left-0 right-0 pb-3 bg-zinc-700 rounded-2xl w-min mx-auto transform -translate-y-full duration-500 ease-in-out overflow-y-auto">
            <!-- Header -->
            <div class="flex py-3">
                <div class="ms-3 me-auto w-8 h-8"></div>
                <h1 class="text-white text-2xl font-bold m-auto">Rename</h1>
                <!-- Close button -->
                <button id="edit-close" class="ms-auto me-3 rounded-full w-8 h-8 bg-red-500 text-white text-lg flex" onclick="show_edit_modal(false);">
                    <i class="fas fa-times m-auto"></i>
                </button>
            </div>

            <!-- Contents -->
            <div class="flex flex-col mx-auto py-3 px-10 text-center text-white">
                <h2 class="text-white text-center text-sm">Original name:</h2>
                <h1 id="original-filename" class="text-white text-center text-xl font-bold">foobar.mp4</h1>
                <input id="edit-input" type="text" class="p-2 my-3 bg-zinc-900 placeholder-zinc-500 rounded-md text-md text-center focus:outline-none focus:ring-2 focus:ring-blue-700" placeholder="enter new name" name="filename-input" autocomplete="off">
                <button id="edit-button" class="bg-green-600 p-2 rounded-lg py-2 px-3 mx-auto flex items-center justify-center" onclick="rename_file(this);">Rename</button>
            </div>
        </div>
    </div>
    <script>
        // Now playing elements
        const stream_info = document.getElementById("stream-info");
        const playing_now_label = document.getElementById("playing-now");
        const episode_playing = document.getElementById("episode-playing");
        const episode_details = document.getElementById("episode-details");

        // Record button elements
        const record_button = document.getElementById("record-button");
        const record_text = document.getElementById("record-button-text");
        const record_spinner = document.getElementById("spinner");

        // Download button elements
        const download_div = document.getElementById("result");
        const download_button = document.getElementById("download-button");
        const rename_input = document.getElementById("rename-input");
        const rename_button = document.getElementById("rename-button");

        // History menu elements
        const history_button = document.getElementById('history-button');
        const history_menu = document.getElementById('history-menu');
        const history_contents = document.getElementById('history-contents');
        const history_close = document.getElementById('history-close');

        // Edit modal elements
        const edit_modal = document.getElementById('edit-modal');
        const original_name = document.getElementById('original-filename');
        const edit_input = document.getElementById('edit-input');

        // Recording vars
        var recording = false;
        var start_time = "";

        // Update playing now info every 5 seconds
        async function update_playing_now() {
            if (! recording) {
                var result = await fetch('/get_playing_now');
                result = await result.json();
                episode_playing.innerHTML = result["title"];
                episode_details.innerHTML = result["subtext"];
            };
        };
        update_playing_now();
        setInterval(update_playing_now, 5000);

        async function startRecording() {
            console.log("Start recording");
            // Change background to red
            record_button.classList.remove("bg-slate-950");
            record_button.classList.add("bg-red-600", "scale-110");

            // Prevent changing playing_now contents
            recording = true;

            // Get start timestamp
            var result = await fetch(`/get_playtime`);
            starttime = await result.json();

            // Hide download button if visible from previous run
            download_div.classList.add("opacity-0", "pointer-events-none")
            download_div.classList.remove("show-result")
        };

        async function stopRecording() {
            console.log("Stop recording");
            // Change background back
            record_button.classList.remove("bg-red-600", "scale-110");
            record_button.classList.add("bg-slate-950");

            // Show loading spinner
            record_text.classList.remove("opacity-100");
            record_text.classList.add("opacity-0");
            record_spinner.classList.remove("opacity-0");
            record_spinner.classList.add("opacity-100");

            // Send request to backend, show download button when finished
            console.log("Calling generateFile");
            await generateFile();
            console.log("generateFile finished");

            // Stop loading animation
            record_text.classList.remove("opacity-0");
            record_text.classList.add("opacity-100");
            record_spinner.classList.remove("opacity-100");
            record_spinner.classList.add("opacity-0");
        };

        async function generateFile() {
            console.log("generateFile called");
            let response = await fetch('/submit', {
                method: 'POST',
                body: JSON.stringify({"startTime": starttime}),
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                }
            });

            // Add link to download button
            const filename = await response.json();
            download_button.href = `download/${filename}`;
            rename_input.dataset.original = filename;
            rename_input.placeholder = filename;
            console.log(filename);

            // Show download button, scroll into view if needed
            download_div.classList.remove("opacity-0", "pointer-events-none");
            download_div.classList.add("show-result");
            download_div.scrollIntoView({behavior: "smooth"});

            // Reload history menu contents
            load_history();
        };

        // Start recording listeners
        record_button.addEventListener('mousedown', startRecording);
        record_button.addEventListener('touchstart', startRecording);

        // Stop recording listeners
        record_button.addEventListener('mouseup', stopRecording);
        record_button.addEventListener('touchend', stopRecording);

        // Takes bool, opens if true, closes if false
        function open_history_menu(state) {
            if (state) {
                history_menu.style.transform = 'translateY(0)';
            } else {
                history_menu.style.transform = 'translateY(100%)';
            };
        };

        // Takes bool, shows modal if true, hides if false
        function show_edit_modal(state) {
            if (state) {
                edit_modal.classList.remove('-translate-y-full', 'top-0');
                edit_modal.classList.add('translate-y-0', 'top-1/3');
            } else {
                edit_modal.classList.remove('translate-y-0', 'top-1/3');
                edit_modal.classList.add('-translate-y-full', 'top-0');
            }
        };

        // Close history menu/edit modal when user clicks outside either div
        document.addEventListener('click', function(event) {
            if (!history_menu.contains(event.target) && !history_button.contains(event.target)) {
                open_history_menu(false);
            }
            if (!edit_modal.contains(event.target)) {
                show_edit_modal(false);
            }
        });

        // Request history from backend and add card to history menu for each file
        async function load_history() {
            // Clear old contents if present
            history_contents.innerHTML = '';

            // Request new contents
            let history_json = await fetch('/get_history');
            history_json = await history_json.json();

            // Add div for each item in JSON
            for (const [timestamp, details] of Object.entries(history_json)) {
                history_contents.insertAdjacentHTML('beforeend',
                `<div class="bg-slate-950 rounded-xl p-5 text-white mb-3">
                    <h1 class="text-lg font-semibold">${details.output}</h1>
                    <h1 class="text-md text-zinc-500">${new Date(timestamp.replace(/_/g, ' ')).toLocaleString()}</h1>
                    <div class="flex mt-3">
                        <a class="flex h-10 w-10 bg-zinc-500 rounded-lg text-white ms-auto" href="download/${details.output}">
                            <i class="fas fa-file-download m-auto"></i>
                        </a>
                        <a class="flex h-10 w-10 bg-zinc-500 rounded-lg text-white mx-3 edit-button" data-filename="${details.output}" onclick="edit_file(event);"">
                            <i class="fas fa-pencil-alt m-auto"></i>
                        </a>
                        <a class="flex h-10 w-10 bg-zinc-500 rounded-lg text-white me-auto" data-filename="${details.output}" onclick="delete_file(this);"">
                            <i class="fas fa-trash-alt m-auto"></i>
                        </a>
                    </div>
                </div>
                `);
            };
        };

        // Populate history menu on page load
        document.addEventListener("DOMContentLoaded", function() {
            load_history();
        });

        async function delete_file(button) {
            let response = await fetch('/delete', {
                method: 'POST',
                body: JSON.stringify(button.dataset.filename),
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                }
            });
            response = await response.text();
            console.log(response)

            // Reload history contents
            load_history();
        };

        // Called by edit buttons in history menu, opens edit modal for selected file
        function edit_file(e) {
            event.stopPropagation();

            // Set original name label and input dataset attribute
            const button = event.target.closest('.edit-button');
            original_name.innerHTML = button.dataset.filename;
            edit_input.dataset.original = button.dataset.filename;

            // Close history, open edit modal
            open_history_menu(false);
            show_edit_modal(true);
        };

        // Called by submit button in edit modal, sends request to backend to rename
        async function rename_file(button) {
            // Read old name from dataset attribute, new from input
            if (button.id == "edit-button") {
                // Renaming from history menu
                var payload = {
                    'old': edit_input.dataset.original,
                    'new': edit_input.value
                }
            } else {
                // Renaming from input below download button
                var payload = {
                    'old': rename_input.dataset.original,
                    'new': rename_input.value
                }
            };

            let response = await fetch('/rename', {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                }
            });
            response = await response.json();
            console.log(`${payload['old']} renamed to ${response['filename']}`)

            // Close modal and reload history contents
            show_edit_modal(false);
            load_history();

            // Change download link if renaming from input below download button
            if (button.id != "edit-button") {
                download_button.href = `download/${response['filename']}`;
                rename_input.dataset.original = response['filename'];
                rename_input.placeholder = response['filename'];
            };
        };
    </script>
</body>
</html>
